[Unit]
Description=wsjtx-dx-alert service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/wsjtx-dx-alert
ExecStart=/opt/wsjtx-dx-alert/venv/bin/python3 -m WSJTXDXAlert
Restart=always

[Install]
WantedBy=multi-user.target