[Unit]
Description=wsjtx-dx-alert service
After=network.target

[Service]
Type=simple
WorkdingDirectory=/opt/wsjtx-dx-alert
ExecStart=python3 -m /opt/wsjtx-dx-alert/WSJTDXAlert
Restart=always

[Install]
WantedBy=multi-user.target